---
import { site } from '~/lib/site';
---
<div class="ribbon">
  Pierwsza rozmowa bezpłatna i niezobowiązująca &nbsp;·&nbsp;
  <a href={`tel:${site.contact.phone}`}>Zadzwoń · {site.contact.phoneLabel}</a>
</div>
